<?xml version="1.0"?>
<launch>
	
	<arg name="bag" />
	<arg name="target"   default="$(find stereotum)/params/aprilA0.yaml" />
	<arg name="camchain" default="$(find stereotum)/params/camchain.yaml" />
	<arg name="imu"      default="$(find stereotum)/params/imu.yaml" /> 
	<arg name="start"    default="0" />
	<arg name="end"      default="1000" />

	<node name="kalibr_calibrator" type="kalibr_calibrate_imu.bash" pkg="stereotum" args="$(arg bag) $(arg target) $(arg camchain) $(arg imu) $(arg start) $(arg end)" output="screen" />

</launch>
